<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">


    <test name="Experian Automation ">
        <classes>
            <class name="com.experian.qa.testcases.ConsolidatingOtherDebtsTest"></class>
            <class name="com.experian.qa.testcases.TermsAndConditionsTest"></class>
        </classes>
    </test>
</suite>